<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="style.css">

    <!-- 구글 폰트 사용 -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- fontawesome-->
    <script src="https://kit.fontawesome.com/26b2ef94cb.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    </head>
<body>
    <header class="login__header">
        <h1>게시판 로그인</h1>
    </header>
        <div class="login__content">
            <fieldset id="login" class="login__fieldset">
                <form action="login" method="get">
                    <div class="login__fieldset__id">
                    <input type="text" name="loginId" class="fieldset__textbox" placeholder="아이디">
                    </div>
                    <div class="login__fieldset__pw">
                    <input type="password" name="loginPw" class="fieldset__textbox" placeholder="패스워드">
                    </div>
                    <div class="joingo"><a href="join.html">회원가입</a></div>
                    <div class="login__fieldset__btn">
                <input class="fieldset__submit" type="submit" value="로그인">
                    </div>   
            </fieldset>
            
        </div>


</body>
</html>