<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글작성</title>
    <link rel="stylesheet" href="style.css">

    <!-- 구글 폰트 사용 -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- fontawesome-->
    <script src="https://kit.fontawesome.com/26b2ef94cb.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    </head>
<body>
    <div class="wrap">
        <header id="header">
        <div class="header__logo">
            <i class="fas fa-code"></i>
            <a href="index.html">게시판</a>
        </div>

        <ul class="header__navbar">
            <li class="navbar__menu__item active" data-link="#total">전체</li>
            <li class="navbar__menu__item" data-link="#free">자유</li>
            <li class="navbar__menu__item" data-link="#qna">질문</li>
            <li class="navbar__menu__item" data-link="#jobs">구직</li>
            <li class="navbar__menu__item" data-link="#total"><a href="login.html">로그인</a></li>
            <li class="navbar__menu__item" data-link="#free"><a href="join.html">회원가입</a></li>
        </ul>
        </header>
        <div id="container">
            <div class="container__write">
                <form class="container__write__form" action="GET" >
                    <div class="container__write__form__subject">
                    <select class="container__write__select" name="search" >
                        <option class="container__write__select__item" value="free">자유</option>
                        <option class="container__write__select__item" value="qna">질문</option>
                        <option class="container__write__select__item" value="jobs">구직</option>
                    </select>
                    <input class="container__write__text" type="text" placeholder="제목을 입력해주세요." name="keyword">
                    <input class="container__write__btn2"  type="button" value="목록">
                </div>
                <div class="container__write__form__writer">
                <span>작성자: 김덕자</span>
                </div>

                <div class="container__write__form__textarea">
                    <textarea name="textarea" class="container__write__textarea" ></textarea>
                </div>
                <div class="container__write__form__btn">
                    <input class="container__write__btn" type="submit" value="등록">
                    <input class="container__write__btn" type="reset" value="취소">
                </div>
                </form>
            </div>
        </div>


            
        </div>
        <button class="arrow-up__btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>



</body>
</html>